$colors: (
  neutral: (
    100: rgb(252, 252, 252),
    200: rgb(204, 204, 204),
    300: rgb(153, 153, 153), 
    400: rgb(64, 64, 64),
    700: rgb(38, 38, 38),
    900: rgb(0, 0, 0),
  ),
  primary: (
    100: rgba(34, 15, 240, 0.15),
    200: rgb(67, 49, 155),
    300: rgb(50, 37, 116),
    400: rgb(42, 31, 97),
  ),
  secondary: (
    100: rgb(224, 255, 234),
    200: rgb(155, 233, 204),
    300: rgb(108, 147, 120),
    400: rgb(57, 65, 64)
  ),
  accent: (
    100: rgba(255, 117, 117, 0.253),
    200: rgb(255, 115, 115),
  ),
  random: (
    100: hsl(4, 45%, 50%),
    200:hsl(104, 45%, 50%),
    300:hsl(204, 45%, 50%),
    400:hsl(304, 45%, 50%),
    500:hsl(154, 45%, 50%),
    600:hsl(254, 45%, 50%),
    700:hsl(354, 45%, 50%),
    800:hsl(54, 45%, 50%),
    900:hsl(4, 45%, 50%),
  )
);