@use "sass:map";
@use 'sass:meta';
@use 'sass:math';
@use 'breakpoints' as *;
@use 'functions' as *;

@mixin mq($size) {
  
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @if meta.type-of($size) == number {
      @if math.is-unitless($size){
        @error 'no unit was given with number #{$size}';
      } @else {
        @warn '#{$size} is not a breakpoint inside abstracts/breakpoints';
        @media screen and (min-width: $size) {
          @content;
        }
      }
    } @else {
      @error '#{$size} breakpoint does not exist, possibles are: small, medium, large, xl'
    }
  }
};

@mixin box-shadow-1($color: black){
  box-shadow:
    0px 6px 5px rgba($color, 0.012),
    0px 22px 18px rgba($color, 0.018),
    0px 100px 80px rgba($color, 0.03);
}
@mixin box-shadow-2($color: black){
  box-shadow:
  0px 6px 5px rgba($color, 0.016),
  0px 22px 18px rgba($color, 0.024),
  0px 100px 80px rgba($color, 0.04);
}
@mixin box-shadow-3($color: black){
  box-shadow:
  0px 6px 5px rgba($color, 0.02),
  0px 22px 18px rgba($color, 0.03),
  0px 100px 80px rgba($color, 0.05);
}
@mixin box-shadow-4($color: black){
  box-shadow:
  0px 6px 5px rgba($color, 0.03),
  0px 22px 18px rgba($color, 0.042),
  0px 100px 80px rgba($color, 0.07);
}
@mixin box-shadow-5($color: black){
  box-shadow:
  0px 6px 5px rgba($color, 0.04),
  0px 22px 18px rgba($color, 0.06),
  0px 100px 80px rgba($color, 0.1);
}

@mixin grid($columns: 1, $rows: 1, $gap: size(16)){
  display: grid;
  gap: var(--gap, #{$gap});
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  
  @content;
}