@use '../abstracts/' as *;

.input {
  padding: 1em 0.5em 0;
}
textarea {
  padding: 0.5em;
}

.input-wrapper.floating {
  display: block;
  position: relative;

  label {
    position: absolute;
    left: 0.5em;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    transition: all 0.2s;
    pointer-events: none;
  }

  input:focus-within~label,
  input:not(:placeholder-shown)~label {
    color: clr(primary, 200);
  }
  input:focus-within {
    color: clr(neutral, 400);
    &::placeholder {
      color: clr(neutral, 300);
    }
  }
  
  input {
    font-size: inherit;
    margin-bottom: 2px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
    width: 100%;
    &::placeholder {
      opacity: 1;
    }
    &:placeholder-shown:not(:focus)::placeholder {
      opacity: 0;
    }
    &:placeholder-shown:not(:focus) + * {
      font-size: 125%;
      opacity: 0.5;
      top: 0.25em;
      left: 0.25em;
    }
    &:focus {
      outline: 1px solid clr(primary, 100);
      border-color: clr(primary, 200);
    }
  }
}

