@use '../abstracts/' as *;

$animation-timing: 250ms;

.section {
  padding: size(16) size(8);

  .section__child {
    border-radius: 8px;
    padding: 1em;
    outline: 2px solid clr(secondary, 200);

    &--header {
      color: clr(accent, 100);
    }

    &:hover {
      outline-color: clr(accent, 200);
    }
  }

  .section__heading {
    color: clr(neutral, 300);
  }

  // underline stuff 
  .fun-underline {

    position: relative;
    display: inline-block;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        &:after {
          background-color: clr(random, $i * 100);
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1lh;
      transform: scaleX(0);
      transition: transform $animation-timing ease-in-out;
      transform-origin: bottom right;

      @media screen and (width < bp(medium)) {
        height: 0.05lh;
      }
    }
  }

  &:where(:focus-within, :hover) {
    .fun-underline {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          &:after {
            transition-delay: $i * $animation-timing;
          }
        }
      }

      &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }


}