@use '../abstracts/' as *;
$animation-timing: 350ms;
$animation-timing-delay: 450ms;

.section {
  padding: size(16) size(8);

  &:hover, &:focus-within {
    .section__heading[data-heading]{
      .section__heading--text {
        height: 0;
      }
      &::before {
        color: white;
        height: 100%;
      }
    }
  }
  .section__child {
    border-radius: 8px;
    padding: 1em;
    outline: 2px solid clr(secondary, 200);

    &--header {
      color: clr(accent, 100);
    }

    &:hover {
      outline-color: clr(accent, 200);
    }
  }

  .section__heading{
    --anchor-color: clr(secondary, 200);
    display: flex;
    gap: 1ch;
    color: clr(neutral, 200);
    position: relative;
    height: clamp(2.5rem,.5rem + 7vw,3.75rem);
    font-size: clamp(2.5rem,.5rem + 7vw,3.75rem);

    
    &[data-heading]::before,
    .section__heading--text,
    .anchor-hash {
      font-size: 1em;
      line-height: 1.1;
      font-weight: 700;
      height: clamp(2.5rem,.5rem + 7vw,3.75rem);
    }
    &[data-heading]::before,
    .section__heading--text {
      padding-inline: 0.5ch;
      transition: height $animation-timing ease-in-out;
      overflow: hidden;
    }

    &--text {
      transform-origin: bottom;
    }

   &[data-heading]::before {
    content: attr(data-heading);
    z-index: -1;
    height: 0;
    width: fit-content;
    position: absolute;
    top: 0;
    transform-origin: top;
    background-color: clr(secondary, 200);
    color: transparent;
   } 
  }

  /** 
    underline stuff 
  */
  .fun-underline {
    position: relative;
    display: inline-block;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        &:after {
          
          background-color: clr(random, $i * 100);
        }
      }
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1lh;
      transform: scaleX(0);
      transition: transform $animation-timing ease-in-out;
      transform-origin: bottom right;

      @media screen and (width < bp(medium)) {
        height: 0.05lh;
      }
    }
  }

  &:where(:focus-within, :hover) {
    .fun-underline {
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          &:after {
            transition-delay: $i * $animation-timing-delay;
          }
        }
      }

      &:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }


}