@use '../abstracts/' as *;

@mixin even-columns {
  --gap: #{size(24)};
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

}
.even-columns {
  @include even-columns();
  &-row {
    @include even-columns();
    @media screen and (width < bp(medium)){
      grid-auto-flow: row;
      gap: var(--gap);
    }
  }
}

.columns-content\:left {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @media screen and (width < bp(medium)){
    grid-template-columns: 1fr
  }
  & > * {
    display: inline-grid;
    grid-column: span 1;
    @media screen and (width < bp(small)){
      margin-inline: auto;
    }
  }
}