@use '../abstracts/' as *;

.containing-wrapper {
  width: clamp(280px, 100% - 2rem, bp(large));
  margin-inline: auto;
}

.container-large {
  width: min(100% - 2rem, bp(medium));
  margin-inline: auto;
}

.container-medium {
  width: min(100% - 2rem, bp(medium));
  margin-inline-end: auto;
  @media screen and (width < bp(medium)) {
    width: 100%;
  }
}

.container-small {
  width: min(100% - 2rem, bp(small));
  margin-inline-end: auto;
}