@use '../abstracts/' as *;

.grid {
  display: grid;
}

.gap\:8 {
  gap: size(8);
}
.gap\:16 {
  gap: size(16);
}
.gap\:24 {
  gap: size(24);
}

.align\:center {
  align-items: center;
}
.justify\:center {
  justify-content: center;
}
