@use '../abstracts' as *;

@each $size-name, $size-value in $font-sizes {
  .fs\:#{$size-name} { 
    font-size: $size-value;
    @if $size-name > 600 {
      line-height: 1.1;
    }
  }

}

.ff-sans {
  font-family: $ff-sans;
}

.ff-serif {
  font-family: $ff-serif;
}